{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Quest Create{% endblock title %}

{% block css %}

    {{ form.media }}

{% endblock css %}

{% block main %}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">Nova quest</h5>
    </div>

    <div class="card-body">
        <form method="POST">

            {% csrf_token %}
            {{ form|crispy }}

            <div class="form-group text-right">
                <a href="{% url 'core:quest_list' %}"
                class="btn btn-outline-secondary"
                role="button" aria-pressed="true">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    Cancelar
                </a>
                <button class="btn btn-outline-success"
                type="submit" role="button" aria-pressed="true">
                    <li class="fas fa-check-circle" aria-hidden="true"></li>
                    Criar quest
                </button>
            </div>
        </form>
    </div>
</div>


{% endblock main %}

