{% extends 'base.html' %}

{% block title %}Quest Detail{% endblock title %}

{% block css %} {% endblock css %}


{% block main %}

<a class="text" href="{% url 'core:quest_list' %}" aria-pressed="true">Quests</a>
<h1 class="margin-none">Detalhes</h1>
<p>
    {{ object.equipe_set }}
</p>


<div class="card shadow">
    <div class="card-body">

        <div class="card-title">
            <h5 class="m-0 font-weight-bold text-primary">
                Detalhes da quest <span class="text-capitalize">'{{ object.name }}'</span>
            </h5>
        </div> <hr/>

        <div class="row">
            <div class="col-md-4">
                <div><strong>Equipe</strong></div>
                {{ object.equipe.name }}
            </div>

            <div class="col-md-4">
                <div><strong>Inicio previsto para</strong></div>
                {{ object.init_date|date:'d/m/Y' }}
            </div>

            <div class="col-md-4">
                <div><strong>Criada em</strong></div>
                {{ object.created|date:'d/m/Y' }}
            </div>
        </div> <br/>

        <div class="row">
            <div class="col-md-4">
                <div><strong>Pontos por conclusão</strong></div>
                <div class=" row">
                    <div class="col-md-6 text-center">
                        <span class="badge badge-pill badge-info">{{ object.points }}</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div><strong>Conclusão prevista para</strong></div>
                {{ object.end_date|date:'d/m/Y' }}
            </div>

            <div class="col-md-4">
                <div><strong>Última alteração em</strong></div>
                {{ object.updated|date:'d/m/Y' }}
            </div>
        </div> <br>

        <div class="row">
            <div class="col-md-4">
                <div><strong>Responsáveis</strong></div>
                <ul>
                    {% for integrante in object.responsaveis.all %}
                        <li>
                            {{ integrante.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <form action="{% url 'core:quest_confirm' object.pk %}" method="POST"> {% csrf_token %}
            <div class="form-group float-right">

                {% if object.open %}
                    <a class="btn btn-outline-secondary"
                    href="{% url 'core:quest_update' object.pk %}">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                        Editar quest
                    </a>

                    <button class="btn btn-outline-success"
                    type="submit"
                    onsubmit="return confirm('Confirmar conclusão?')">
                        <li class="fas fa-check-circle"></li>
                        Concluir quest
                    </button>
                {% endif %}

            </div>
        </form>

    </div>
</div>


{% endblock main %}

{% block js %} {% endblock js %}
