{% extends 'base.html' %}

{% load staticfiles %}
{% load base_tags %}

{% block title %}Quest Detail{% endblock title %}

{% block main %}

<a class="text" href="{% url 'core:quest_list' %}" aria-pressed="true">Quests</a>
<h1 class="margin-none">Detalhes</h1>

<div class="card shadow">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

        <h5 class="m-0 font-weight-bold text-primary text-capitalize">{{ object.name }}</h5>

        <div class="dropdown no-arrow">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cogs"></i> Opções
            </button>

            {% is_lider request.user.jogador quest=object as lider %}
            {% is_member request.user.jogador quest=object as member %}

            {% if lider or member %}
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                {% if not lider %}
                    <a class="dropdown-item" href="{% url 'core:quest_alternative_update' object.pk %}">
                        <i class="fas fa-edit"></i>Editar
                    </a>
                {% else %}
                    <a class="dropdown-item" href="{% url 'core:quest_update' object.pk %}" title="Editar">
                        <i class="fas fa-edit"></i> Editar
                    <a>

                    <a class="dropdown-item" href="{% url 'core:quest_delete' object.pk %}" title="Excluir">
                        <i class="fas fa-trash"></i> Excluir
                    </a>
                {% endif %}

            </div>
            {% endif %}
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div><strong>Equipe</strong></div>
                {{ object.equipe.name }}
            </div>

            <div class="col-md-4">
                <div><strong>Inicio previsto para</strong></div>
                {{ object.init_date|date:'d/m/Y' }}
            </div>

            <div class="col-md-4">
                <div><strong>Criada em</strong></div>
                {{ object.created|date:'d/m/Y' }}
            </div>
        </div> <br/>

        <div class="row">
            <div class="col-md-4">
                <div><strong>Pontos por conclusão</strong></div>
                <div class=" row">
                    <div class="col-md-6 text-center">
                        <span class="badge badge-pill badge-info">{{ object.points }}</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div><strong>Conclusão prevista para</strong></div>
                {{ object.end_date|date:'d/m/Y'|default:'INDETERMINADO' }}
            </div>

            <div class="col-md-4">
                <div><strong>Última alteração em</strong></div>
                {{ object.updated|date:'d/m/Y' }}
            </div>
        </div> <br>

        <div class="row">
            <div class="col-md-4">
                <div><strong>Responsáveis</strong></div>
                {% for integrante in object.responsaveis.all %}
                    {{ integrante.name }} <br>
                {% endfor %}
            </div>
        </div>

        {% if object.open %}
            {% if lider or member %}
            <form onsubmit="return confirm('Deseja concluir a quest {{object.name|upper}}?')"
            action="{% url 'core:quest_conclude' object.pk %}" method="POST">
                {% csrf_token %}
                <div class="form-group float-right">
                    <button id="btn-submit-quest" class="btn btn-outline-success" type="submit">
                        <li class="fas fa-check-circle"></li> Concluir quest
                    </button>
                </div>
            </form>
            {% endif %}
        {% endif %}

    </div>
</div>

{% endblock main %}
