{% extends 'base.html' %}

{% block title %}Quest Detail{% endblock title %}

{% block css %} {% endblock css %}


{% block main %}

<a class="text" href="{% url 'core:quest_list' %}" aria-pressed="true">Quests</a>
<h1 class="margin-none">Detalhes</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary text-captalize">{{ object.name }}</h5>
    </div>

    <div class="card-body">
        <div class="widget-body">

            <div class="row">
                <div class="col-md-4">
                    <div><strong>Inicio previsto para</strong></div>
                    {{ object.init_date|date:'d/m/Y' }}
                </div>

                <div class="col-md-4">
                    <div><strong>Conclusão prevista para</strong></div>
                    {{ object.end_date|date:'d/m/Y' }}
                </div>

                <div class="col-md-4">
                    <div><strong>Pontos por conclusão</strong></div>
                    <div class=" row">
                        <div class="col-md-6 text-center">
                            <span class="badge badge-pill badge-info">{{ object.points }}</span>
                        </div>
                    </div>
                </div>
            </div> <br/>

            <div class="row">
                <div class="col-md-4">
                    <div><strong>Responsáveis</strong></div>
                    <ul>
                        {% for integrante in object.responsaveis.all %}
                            <li>
                                {{ integrante.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-4">
                    <div><strong>Criada em</strong></div>
                    {{ object.created|date:'d/m/Y' }}
                </div>

                <div class="col-md-4">
                    <div><strong>Última alteração em</strong></div>
                    {{ object.updated|date:'d/m/Y' }}
                </div>
            </div>

        </div>

        <div class="form-group float-right">
            <a class="btn btn-outline-secondary"
            href="{% url 'core:quest_update' object.pk %}">
                Editar quest
            </a>

            <a class="btn btn-outline-success"
            onsubmit="return confirm('Confirmar conclusão?')"
            href="{% url 'core:quest_complete' object.pk %}"
            type="submit">
                <li class="fas fa-check-circle"></li>
                Concluir quest
            </a>
        </div>

    </div>
</div>

{% endblock main %}

{% block js %} {% endblock js %}
