{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Quest List{% endblock title %}

{% block css %} {% endblock css %}

{% block main %}



<nav class="nav-container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Quest</li>
    </ol>
    <ul class="nav-buttons">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cogs"></i> Opções
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'core:quest_create' %}">Novo</a>
            </div>
        </div>
    </ul>
</nav>

<table class="table table-striped table-datatables">

    <thead>
        <tr>
            <th>Nome</th>
            <th class="text-center">Responsáveis</th>
            <th class="text-center">Inicio</th>
            <th class="text-center">Entrega</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>

    <tbody>
        {% for quest in object_list %}
        <tr>
            <td>{{ quest.name }}</td>
            <td class="text-center">{{ quest.responsaveis.all|length }}</td>
            <td class="text-center">{{ quest.init_date|date:'d/m/Y' }}</td>
            <td class="text-center">{{ quest.end_date|date:'d/m/Y' }}</td>

            <td class="actions text-center align-middle">
            <div class="btn-group">

                <a class="btn btn-outline-secondary"
                href="{% url 'core:quest_detail' quest.slug %}"
                title="Visualizar">
                    <span class="icon text-white-600">
                    <i class="fas fa-eye"></i>
                    </span>
                </a>

                <a class="btn btn-outline-success"
                href="{% url 'core:quest_update' quest.slug %}"
                title="Editar">
                    <i class="fas fa-edit"></i>
                </a>

                <a class="btn btn-outline-danger"
                href="{% url 'core:quest_delete' quest.pk %}"
                title="Excluir">
                    <i class="fas fa-trash-alt"></i>
                </a>

                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock main %}

{% block js %}

<link rel="stylesheet" href="{% static 'node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
<script type="text/javascript" src="{% static 'node_modules/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.init.js' %}"></script>

{% endblock js %}

