{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Quest Update{% endblock title %}

{% block main %}

<div class="card shadow">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-primary">
            Editando a quest <span class="text-capitalize">'{{ object.name }}'</span>
        </h5>
    </div>

    <div class="card-body">
        <form method="POST"> 

            {% csrf_token %}
            {{ form|crispy }}

            <div class="form-group text-right">
                {% if form.name %}
                    <a href="{% url 'core:quest_detail' object.pk %}"
                    class="btn btn-outline-danger"
                    role="button" aria-pressed="true">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancelar
                    </a>
                {% endif %}

                <button onsubmit="return confirm('Confirmar?')"
                class="btn btn-outline-success"
                type="submit" role="button" aria-pressed="true">
                    <li class="fas fa-check-circle"></li>
                    Confirmar
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock main %}

{% block js %}
    {{ form.media }}
{% endblock js %}
