{% extends 'base.html' %}

{% block title %}Detalhes{% endblock title %}


{% block main %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <legend class="border-bottom mb-4">Profile</legend>
    </div>
  </div>
</article>


<div class="col-xl-5 col-lg-4">
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h5 class="m-0 font-weight-bold text-primary"><a href="{% url 'core:jogador_update' object.pk %}">Atualizar</a></h5>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h5 class="m-0 font-weight-bold"><a href="{% url 'core:jogador_delete' jogador.pk %}" class=text-danger>Deletar</a></h5>
    </div>
  </div>
</div>

{% endblock main %}

