{% extends "base.html" %}
{% load staticfiles %}


{% block main %}

{% endblock main %}

{% block js %}

<link rel="stylesheet" href="{% static 'node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
<script type="text/javascript" src="{% static 'node_modules/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.init.js' %}"></script>

{% endblock js %}