{% extends "base.html" %}
{% load staticfiles %}

{% block main %}

{% endblock main %}

{% block js %}
<link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'css/bootstrap-datepicker.css' %}"></script>

<script>
    $(function() {
        $('.datepicker').datepicker({
            format: 'd/n/Y'
        });
    });
</script>

{% endblock js %}