{% extends 'auth_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}

{% block main %}
<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Seja bem vindo!</h1>
              </div>
              <form class="user" method="POST"> {% csrf_token %}
                <div id="div_id_username" class="form-group"> 
                  <div class=""> 
                    <input type="text" name="username" 
                    class="textInput form-control-user form-control" 
                    required="" id="{{ form.username.auto_id }}"
                    placeholder="{{ form.username.label }}">
                  </div>
                </div> 
                <div id="div_id_password" class="form-group">  
                  <div class=""> 
                    <input type="password" name="password" 
                    class="textInput form-control-user form-control" 
                    required="" id="{{ form.password.auto_id }}"
                    placeholder="{{ form.password.label }}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="customCheck">
                    <label class="custom-control-label" for="customCheck">Remember Me</label>
                  </div>
                </div>
                <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>
              </form>

              <hr>
              {% comment %} <a href="#" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Login with Google
              </a>
              <a href="#" class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
              </a>
              <hr> {% endcomment %}
              <div class="text-center">
                <a class="small" href="{% url 'accounts:password_reset' %}">Recuperar senha?</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url 'accounts:register' %}">Criar uma conta!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
