{% extends 'auth/password_reset_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Redefinir senha{% endblock title %}

{% block main %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-2">Esqueceu sua senha?</h1>
  <p class="mb-4">Entendemos, as coisas acontecem. Basta digitar seu endereço de e-mail abaixo e enviaremos um link para redefinir sua senha!</p>
</div>
<form class="user" method="POST"> {% csrf_token %}
  {{ form|crispy }}
  <!-- <div class="form-group">
    <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
  </div> -->
  <button class="btn btn-primary btn-user btn-block" type="submit">Redefinir senha</button>
</form>
<hr>
<div class="text-center">
  <a class="small" href="{% url 'accounts:register' %}">Crie sua conta aqui!</a>
</div>
<div class="text-center">
  <a class="small" href="{% url 'accounts:login' %}">já tem uma conta? Conecte-se!</a>
</div>
{% endblock main %}
  
  