{% extends 'base.html' %}

{% block title %}Equipe Delete{% endblock title %}

{% block css %} {% endblock css %}


{% block main %}

<div class="row">
    <div class="col-xl-12 col-lg-4">
        <div class="card shadow">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary">
                    Deseja deletar a equipe "{{ object.name|capfirst }}"?
                </h5>
            </div>

            <div class="card-body">
                <h4>
                    <i class="fa fa-exclamation-triangle"></i>
                    Após excluir não será possível reverter.
                </h4>
                <form method="POST">

                    {% csrf_token %}

                    <div class="form-group float-right">
                        <a href="{% url 'core:equipe_detail' object.slug %}"
                        class="btn btn-outline-primary"
                        role="button" aria-pressed="true">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            Cancelar
                        </a>

                        <button class="btn btn-outline-danger" type="submit">
                            <i class="fa fa-minus-circle"></i>
                            Sim, delete agora!
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock main %}


{% block js %} {% endblock js %}
