{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load base_tags %}
{% load equipe_tags %}

{% block title %}Equipe Detail{% endblock title %}

{% block main %}

<a class="text" href="{% url 'core:equipe_list' %}" aria-pressed="true">Equipes</a>
<h1 class="margin-none">Detalhes</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

        <h5 class="m-0 font-weight-bold text-primary text-capitalize">{{ object.name }}</h5>

        <div class="dropdown no-arrow">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cogs"></i> Opções
            </button>

            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <!-- <a class="dropdown-item" href="#" title="Quests relacionadas">
                    <i class="fa fa-gamepad"></i> Quests
                </a> -->

                {% is_lider request.user.jogador object as permission %}
                <!-- <div class="dropdown-divider"></div> -->

                <a class="dropdown-item" href="{% url 'core:equipe_update' object.pk %}" title="Editar">
                    <i class="fas fa-edit"></i> Editar
                <a>

                <a class="dropdown-item" href="{% url 'core:equipe_delete' object.pk %}" title="Excluir">
                    <i class="fas fa-trash"></i> Excluir
                </a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="article-metadata">
            <div class="widget widget-heading-simple table-condensed">
                <div class="widget-body">

                    <div class="row">
                        <div class="col-md-5">
                            <div><strong>Lider</strong></div>
                            {{ object.lider.name }}
                        </div>

                        <div class="col-md-3">
                            <div><strong>Quests relacionadas</strong></div>
                            {% get_related_quests object %}
                        </div>

                        <div class="col-md-3">
                            <div><strong>Criada em</strong></div>
                            {{ object.created|date:'d/m/Y' }}
                        </div>
                    </div> <br/>

                    <div class="row">
                        <div class="col-md-12">
                            <div><strong>Integrantes</strong></div>
                            {% for integrante in object.team.all %}
                                <a href="{% url 'core:jogador_detail' integrante.pk %}">
                                    {{ integrante.name }}
                                </a> <br/>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">Criar quest para esta equipe</h5>
    </div>

    <div class="card-body">
        <form action="{% url 'core:quest_alternative_create' object.pk %}" method="POST">

            {% csrf_token %}
            {% crispy form form.helper %}

            <div class="form-group text-right">
                <button class="btn btn-outline-success"
                type="submit" role="button" aria-pressed="true">
                    <li class="fas fa-check-circle" aria-hidden="true"></li>
                    Confirmar
                </button>
            </div>
        </form>
    </div>
</div>


{% endblock main %}

{% block js %}
    {{ form.media }}
{% endblock js %}