{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Equipe Detail{% endblock title %}

{% block main %}

<a class="text" href="{% url 'core:equipe_list' %}" aria-pressed="true">Equipes</a>
<h1 class="margin-none">Detalhes</h1>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="card-title">
            <h5 class="m-0 font-weight-bold text-primary text-captalize">{{ object.name }}</h5>
        </div> <hr/>

        <div class="row">
            <div class="col-md-6">
                <div><strong>Lider</strong></div>
                {{ object.lider.name }}
            </div>

            <div class="col-md-6">
                <div><strong>Criada em</strong></div>
                {{ object.created|date:'d/m/Y' }}
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-6">
                <div><strong>Integrantes</strong></div>
                <ul>
                    {% for integrante in object.team.all %}
                        <li>
                            {{ integrante.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-6">
                <div><strong>Última atualização</strong></div>
                {{ object.updated|date:'d/m/Y' }}
            </div>
        </div>

    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">Criar quest para está equipe</h5>
    </div>

    <div class="card-body">
        <form method="POST">

            {% csrf_token %}
            {% crispy form form.helper %}

            <div class="form-group text-right">
                <button class="btn btn-outline-success"
                type="submit" role="button" aria-pressed="true">
                    <li class="fas fa-check-circle" aria-hidden="true"></li>
                    Confirmar
                </button>
            </div>
        </form>
    </div>
</div>


{% endblock main %}

{% block js %}
    {{ form.media }}
{% endblock js %}