{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block title %}List{% endblock title %}

{% block main %}

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

    <thead>
        <tr>
            <th class="text-center">Nome</th>
            <th class="text-center">Lider</th>
            <th class="text-center">Time</th>
            <th class="text-center">Ativo</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>

    <tbody>
        {% for equipe in object_list %}
        <tr>
          <td class="align-middle">{{equipe.name}}</td>
          <td class="align-middle">{{equipe.lider}}</td>
          <td class="align-middle">
            <ul>
              {% for integrante in equipe.team.all %}
                <li>
                  {{ integrante }}
                </li>
              {% endfor %}
              </ul>
          </td>

          <td class="align-middle">
            {% if equipe.active %}
              <p>ATIVO</p>
            {% else %}
              <p>DESATIVADO</p>
            {% endif %}
          </td>

          <td class="actions text-center align-middle">
            <div class="btn-group">
              {% comment %} <div class="col-md-18"> {% endcomment %}

                <a class="btn btn-outline-secondary"
                href="{% url 'core:equipe_detail' equipe.slug %}"
                title="Visualizar">
                  <span class="icon text-white-600">
                    <i class="fas fa-eye"></i>
                  </span>
                </a>

                <a class="btn btn-outline-success"
                href="{% url 'core:equipe_update' equipe.slug %}"
                title="Editar">
                    <i class="fas fa-edit"></i>
                </a>

                <a class="btn btn-outline-danger"
                href="{% url 'core:equipe_delete' equipe.pk %}"
                title="Excluir">
                    <i class="fas fa-trash-alt"></i>
                </a>

              </div>
            {% comment %} </div> {% endcomment %}
          </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock main %}

{% block js %}

<!-- Page level plugins -->
<script src="{% static 'custom/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'custom/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'custom/js/demo/datatables-demo.js' %}"></script>

{% endblock js %}
